.card img{
  height: 200px;
  width: 300px;
  border: 1px solid black;
}
.card{
  padding: 0px !important;
}
.ul{
  list-style: none;
  text-transform: capitalize;
  font-size: medium;
}
.bg{
  background-color:whitesmoke !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
 
}
